.container {
	max-width: 780px;
	padding: 0 6px;
	margin: 0 auto;
	overflow: hidden;

	.logoContainer {
		width: 60px;
		height: 60px;

		margin: 4em auto;

		.logo {
			width: 60px;
			height: 60px;
		}

		@media (max-width: 767.98px) {
			.logoContainer {
				margin: 1em auto;
			}
		}
	}
}
